

p {
  background-color: blue;
color: #fff;
}
h1 {
  font-size: 3rem;
  text-align: center;
  text-decoration: overline;
}
header{
  
}
body {
  
}
a{
  background-color: green;
}

#destinations{
  background-color: red;
}
