

p {
  background-color: blue;
color: #000;
  font-family: serif;
}
h1 {
  font-size: 3rem;
  text-align: center;
  text-decoration: overline;
font-family: 'Abril Fatface', cursive;
}
header{
  
}
body {
  
}
a{
  background-color: green;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight:900;
}

#destinations{
  background-color: red;
}
